<!DOCTYPE html>
<html>
<head>
  <title>Cloth Combination Suggester</title>
  <link rel="stylesheet" href="style.css">
	<script src="main.js"></script>
</head>
<body>
	<p>{{message}}</p>
</body>
</html>